#bloc_playlist {
    position: absolute;
    left: 20%; top: 100%;
    background-color: $rouge;
    font-size: 2rem;

    display: flex;
    flex-direction: column;

    a { 
        color: white;
        text-decoration: none;
        padding: 20px;
        border-top: 1px solid $gris;
    }

    display: none;
}

#bloc_playlist.active {
    display: flex;
}