h2 {
    color: $bleu;
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-family: 'Bahnschrift';
    line-height: 1.5;
}

p {
    font-size: 2rem;
    color: #3C3E40;
    line-height: 1.5;
}

.bouton-bleu {
    display: block;
    background-color: $bleu;
    padding: 10px;
    padding-right: 13px;
    font-family: 'Bahnschrift';
    color: white;
    text-decoration: none;
    font-size: 2rem;
    width: fit-content;
    border: 2px solid transparent;

    transition: 0.3s ease-in-out;
    transition-property: background-color, border, color, transform;
}

.bouton-bleu:hover {
    background-color: transparent;
    color: $bleu;
    border: 2px solid $bleu;
    transform: translateX(15px)
}


.border-bleu-droit {
    position: relative;
    width: fit-content;
}

.border-bleu-droit::after {
    content:" ";
    position: absolute;

    border: 2px solid $bleu;
    top: -20px; left: 20px;
    width: 100%; height: 100%;
    z-index: -1;
}



.border-bleu-gauche {
    position: relative;
}

.border-bleu-gauche::after {
    content:" ";
    position: absolute;

    top: -20px; left: -20px;
    border: 2px solid $bleu;
    width: 100%; height: 100%;
    z-index: -1;
}

.border-rouge-gauche {
    position: relative;
}

.border-rouge-gauche::after {
    content:" ";
    position: absolute;

    top: -20px; left: -20px;
    border: 2px solid $rouge;
    width: 100%; height: 100%;
    z-index: -1;
}

.full-width {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}