#menu {
    background-color: #FFDFE3;

    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;

    transform: translateX(-100vw);
    z-index: 100;
    transition: all 1s ease-in-out;

    
}

#menu.active {
    transform: translateX(0);
}

.menu__grid {
    width: 70%;
    position: absolute;
    top: 20%; left: 15%;
    height: 80%;
    margin: 0 auto;


    &-links {
        display: flex;
        flex-direction: column;
        width: 100%;

        a {
            width: 250px;
            text-align: left;
            text-decoration: none;
            line-height: 2.5;
            font-size: 5rem;
            color: #232323;
            font-family: 'Bahnschrift';
            
            position: relative;
        }

        a::before {
            content: "";
            transition: width 0.3s ease-in-out;

            position: absolute;
            bottom: 20px; left: 0;
            width: 0;
            height: 4px;
            background-color: #232323;
        }

        a:hover::before {
            width: 100%;
        }
    }
}

.menu__grid-links > a {
    position: relative;
    width: auto;
    height: auto;
}

.menu__grid-links > a > div {
    transition: 0.3s ease-in-out;
    content: "";

    position: absolute;
    top: -50%; left: 50%;
    background-color: $rouge;
    width: 250px; height: 250px;

    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 7rem;
}

.menu__grid-links > a:hover > div {
    opacity: 1;
    visibility: visible;
}

.icon-fleche {
    padding-right: 30px;
}