.user__grid {
    &-image {
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-text {
        &_redirect {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 600px;

            a {
                display: block;
                margin-top: 20px;
                margin-right: 20px;
            }
        }

        > a {
            color: #9B9999;
        }

        h2 {
            margin: 0;
        }

        p {
            margin-top: 20px;
        }
    }
}

#last-user {
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: $bleu;
    font-size: 2rem;

    margin-top: 60px;

    > div {
        transform: translateX(150px);
    }

    h2 {
        transform: translateX(-20px);
    }

    ol {
        li {
            a {
                color: $bleu;
                text-decoration: none;
                line-height: 200%;
            }
            span {
                color: #3C3E40;
            }
        }

        > a {
            color: #3C3E40;
            text-decoration: none;
            margin-left: -20px;
        }
    }
}