.library {
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;

    a.see-all {
        margin-top: 20px;
        color: $bleu;
        font-size: 2rem;
        text-align: right;
        text-decoration: none;
        display: block;
    }

    a.see-all:hover {
        text-decoration: underline;
    }

    h2 {
        margin-top: 40px;
    }
}