* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bariol Regular';
  font-size: 1.2rem;
}

html {
  overflow-x: hidden;
}

.red-title {
  font-family: 'Bariol';
  color: #BF2B3D;
  font-weight: bold;
}

.split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.split > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.split > div .semi-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.split > div .semi-header img {
  width: 30%;
}

.split > div .semi-form {
  width: 70%;
  text-align: left;
}

.split > div .semi-form .top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inscription .red-title, .connexion .red-title {
  margin-bottom: 20px;
}

.inscription {
  position: relative;
}

.inscription__gridform {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
      grid-template-areas: "pseudo pseudo birthday birthday" "pwd pwd pwd sign" "pwd2 pwd2 pwd2 sign" "email email email email";
}

.inscription__gridform input {
  background-color: #BF2B3D;
  border-radius: 8px;
  color: white;
  border: 0;
  outline: none;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.inscription__gridform input::-webkit-input-placeholder {
  color: white;
}

.inscription__gridform input:-ms-input-placeholder {
  color: white;
}

.inscription__gridform input::-ms-input-placeholder {
  color: white;
}

.inscription__gridform input::placeholder {
  color: white;
}

#pseudo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: pseudo;
}

#avatar {
  grid-area: avatar;
  padding-top: 10px;
  font-size: 1rem;
}

.more_info {
  position: relative;
  overflow: hidden;
}

.more_info::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #2d77a0;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#birthday.more_info::after {
  content: "Birthday";
}

#avatar.more_info::after {
  content: "Avatar";
}

.info_active::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#birthday {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: birthday;
}

#pwd {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pwd;
}

#pwd2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pwd2;
}

#sign {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: sign;
  height: auto;
}

#email {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: email;
}

#fixed-bar {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: 157px;
  width: 10px;
  background-color: #BF2B3D;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

#fixed-bar.is-rotating {
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  opacity: 0;
}

#fixed-bar.is-moving-right {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.connexion__gridform {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
      grid-template-areas: "nickname nickname nickname log" "password password password log" "remember remember remember remember";
}

.connexion__gridform input {
  background-color: #BF2B3D;
  border-radius: 8px;
  color: white;
  border: 0;
  outline: none;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.connexion__gridform input::-webkit-input-placeholder {
  color: white;
}

.connexion__gridform input:-ms-input-placeholder {
  color: white;
}

.connexion__gridform input::-ms-input-placeholder {
  color: white;
}

.connexion__gridform input::placeholder {
  color: white;
}

#password {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: password;
}

#log {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: log;
  height: auto;
}

#nickname {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nickname;
}

#remember {
  color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: remember;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #BF2B3D;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

#remember input {
  height: auto;
  padding: 0;
  width: auto;
}

#goToLoginBtn {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  right: 5%;
}

#goToSignInBtn {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  left: 5%;
}

#goToSignInBtn, #goToLoginBtn {
  position: absolute;
  bottom: 10%;
  text-decoration: underline;
  cursor: pointer;
}

#moving-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

#moving-image.sign-in {
  -webkit-transform: translate3D(100%, 0, 0);
          transform: translate3D(100%, 0, 0);
  background-image: url("/assets/wave_girl.gif");
}

#moving-image.log-in {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  background-image: url("/assets/wave.gif");
}

#moving-image.is-moving {
  width: 100vw;
}

/*
.log-in {
    position: relative;
}

.log-in::before {
    content: "";
    position: absolute;
    width: 50vw;
    height: 100vh;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
    top: 0; left: -100%;
}*/
.sign-in {
  position: relative;
}

.sign-in::after {
  content: "";
  position: absolute;
  width: 50vw;
  height: 100vh;
  background: white;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 50%, white 100%);
  top: 0;
  left: 100%;
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#sign-info {
  color: #BF2B3D;
}

#sign-info.active {
  color: #2d77a0;
}
/*# sourceMappingURL=inscription.css.map */