* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    //font-family: 'Bahnschrift';
    font-family: 'Bariol Regular';
}

@import 'scss/commons','scss/default','scss/menu','scss/header','scss/main';

html {
    font-size: 62.5%;
    background-color: $gris;
    overflow-x: hidden;
}

