* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    //font-family: 'Bahnschrift';
    font-family: 'Bariol Regular';
}

@import 'scss/commons','scss/default','scss/menu','scss/header','scss/page_main','scss/page_upload','scss/page_song','scss/page_user','scss/split_avatar','scss/template4','scss/comments';

html {
    font-size: 62.5%;
    background-color: $gris;
    overflow-x: hidden;
}

