* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    //font-family: 'Bahnschrift';
    font-family: 'Bariol Regular';
}

@import 'scss/commons';
@import 'scss/default';

@import 'scss/menu';
@import 'scss/header';

@import 'scss/page_main';
@import 'scss/page_upload';
@import 'scss/page_song';
@import 'scss/page_user';
@import 'scss/page_search';
@import 'scss/page_library';
@import 'scss/player';

@import 'scss/split_avatar';
@import 'scss/template4';
@import 'scss/comments';

@import 'scss/userComponent';


html {
    font-size: 62.5%;
    background-color: $gris;
    overflow-x: hidden;
}

